<body onload="redirect()">
    <main role="main" class="text-center">
        <h1 style="font: normal normal 120px Georgia, Times New Roman, serif; color: #d90202; padding: 0 0 5px 0; margin: 0 0 5px 0; text-align: center;">{{error.status}}</h1>
        <h4 class="description">The page could not be found or you don't have permission to view it.</h4>
    </main>
    <div class="border-top text-center">
        <small>The resource that you are attempting to access does not exist or you don't have the necessary permissions to view it.</small>
        <p><small>Make sure the address is correct and that the page hasn't moved.</small></p>
        <small id="pageInfo"></small>
    </div>
</body>
