<h2>{{title}}</h2>

<div class="row">
    <form id="password_reset_form" class="col s12" method="POST">
        <input type="hidden" name="_csrf" value="{{csrf}}"/>
        <div class="input-field col s6">
            <i class="material-icons prefix">lock</i>
            <input name="password" id="password" type="password" class="validate" required>
            <label for="password">Password</label>
            <span style="color: red" class="helper-text error" data-error="Enter password" id="password_error"></span>
        </div>
        <div class="input-field col s6">
            <i class="material-icons prefix">lock</i>
            <input name="confirm" id="confirm" type="password" class="validate" required>
            <label for="confirm">Confirm password</label>
            <span style="color: red" class="helper-text error" data-error="Enter password confirmation" id="confirm_error"></span>
        </div>
        <button class="left btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>
