<h2>{{title}}</h2>

<div class="row">
    <form id="password_reset_form" class="col s12" method="POST">
        <div class="row">
            <input type="hidden" name="_csrf" value="{{csrf}}"/>
            <div class="input-field col s6">
                <i class="material-icons prefix">mail</i>
                <input name="email" id="user_email" type="email" class="validate" required>
                <label for="user_email">Email</label>
                <span class="helper-text error" data-error="Enter email"></span>
            </div>
        </div>
        <a class="btn waves-effect waves-light back-btn" href="/login" type="reset">
            <i class="material-icons left">arrow_back</i>Cancel
        </a>
        <button class="btn waves-effect waves-light green darken-2" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>
